.web .content{
    display: grid;   
    grid-template-areas: 
        "🤖 🤖 🤖"
        "⭐ ⚡ 🌵"      
        "⭐ 🌳 ☀️" 
        "⭐ 🌳 ✨";           
        height: 80vh;      
        margin: 0;
        padding: 0;      
        grid-template-columns: 150px 1fr 1fr;
        grid-template-rows: 10vh 10vh 63vh;    
}

.web .test{
    grid-area:⭐;
    /*background: rgb(214, 233, 250);     */
    display: flex;    
    flex-direction: column;  
    padding: 1.5rem;  
}

.web .header-title{  
    grid-area: 🤖;     
    margin: .5rem;
    border-radius: 1rem;
}

.web .header-title .subtitles{
    width: 10%;
    text-align: center;
}

.web .header-title .titles{   
    width: 80%; 
    text-align: center;
    font-size: 2.5rem;
    color:var(--primary);
    font-weight: bold;
}

.web .header-title .box-title{
    background-color: var(--neutralLight);
    width: 85vw;
    height: 8vh;
    margin-top: .4rem;
    border-radius: 1rem;
    display: flex;    
    flex: 250px 1;
    align-items:center;
    justify-content: flex-start;
}
.web .content .v-btn-toggle > .v-btn.v-btn--active {
    color: white;
    opacity: 1;
    background: var(--primary) !important;
}

.web .content  .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color:var(--secondaryLight);
    color: white;
}


.web .test .option-test{
    display: flex;    
    flex-direction: column;  
}
.web .test .option-test  .v-btn.v-btn.v-size--default{
    height: 38vh;
    margin:.2rem;
}

.web .box-models{
    grid-area:⚡;    
    /*background: rgb(197, 252, 249);  */
    display: flex;    
    flex-direction: row;  
    padding-top: 1.5rem;  
}

.b-models{
    margin:.2rem;
    font-size: 15px;
}

.web .box-config-methods{
    grid-area:🌳;        
    margin:.3em 2rem 0 0rem;
    box-shadow: 1px 2px 8px 2px #7e7e7e;  
    display: grid;   
    grid-template-areas:  
        "⚽ ⚽ "      
        "⚾ 🏀 " 
        "🏐 🏐 ";    
        grid-template-columns: 150px 1fr;            
        grid-template-rows: 5rem 1fr 5rem;  
        
}




.web  .box-config-methods .box-config-top{
    grid-area:⚽;    
    margin: .5rem; 
    background: #E6E8F4;
    display: flex;     
}  


.v-btn:not(.v-btn--round).v-size--large {
	height: 44px;
	min-width: 126px;
	padding: 0 19.5555555556px;
}


.box-config-top{
    justify-content: space-evenly;
}

.web  .box-config-methods .box-c{     
   
    margin: 5px;
}

.web  .box-config-methods .box-config-left{
    grid-area:⚾;   
    margin: .5rem;  
    align-content: center;  
}

.box-config-left{
    display: flex;    
    flex-direction: row;  
    padding-top: 1.5rem;
}



.web .box-config-methods .box-config-right{
    grid-area:🏀; 
    margin: .5rem;
    background: #E6E8F4;
}

.web .box-config-bottom{
    grid-area:🏐;      
    margin: .5rem; 
    text-align: right;
}


.web .box-generate{
    grid-area:🌵;    
    background: rgb(248, 243, 220);  
}

.web .box-xml{
    grid-area:☀️;    
    background: rgb(242, 211, 226);  
}

.web .box-actions{
    grid-area:✨;    
    background: rgb(209, 162, 209);  
}