.icons-search{   
    display: grid;
    place-content: end;   
    width: 95%;    
}

.icons-search ul{
    list-style: none;
    display: inline;  
    margin:1rem;  
}

.icons-search .fas{
    
    font-size: 2.5rem;  
      
    
}

.icons-search .fas:hover{
    transform: rotate3d(2, 5.0, 3.0, 20deg);
    color:#525DBD;
    cursor: pointer;
}


.cards-routers{
       /* height: auto; */
       display: grid;
       grid-gap: 4vw;
       /* margin: 1vw; */
       grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
       padding-left: 3vw;
       grid-template-rows: 198px;
   
}

.cards{
    background-color: #525DBD;
    box-shadow: 8px 8px #444444;
    border-radius: 2rem;
    text-align: center;
    height: 20vh; 
    
}

.cards:hover{
    transform: rotate3d(1, 5.0, 3.0, 15deg);
    box-shadow: 5px 10px #2e2e2e;
    cursor: pointer;
}

.cards .img-size{
    width: 9rem;
}

.cards .footer-card{    
    color:white;
    font-size: 3vh;
    border-radius: 0 0 2rem 2rem;
}